<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- contact-form -->
<div class="message warning">
    <div class="inset">
        <div class="login-head">
            <h1>404-网页出错啦！</h1>
            <div class="alert-close"> </div>
        </div>
        <form>

            <div class="clear"> </div>
            <div>
                <h2>对不起，您访问的页面丢失了，我们会很快将他找回。</h2><br/><br/>
                <a href="@{http://localhost:8081/login/showmain}" th:text="<<<返回首页"></a>
                <div class="clear">  </div>
            </div>
        </form>
    </div>
</div>
<div class="clear"> </div>
<!--- footer --->
<div class="footer">
    <p>Copyright &copy; 404.life</p>
</div>

</body>
</html>