<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>订单分页显示</title>
    <script src="../jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#add").click(function () {
                window.location.href="http://localhost:8081/fenyeOrder/showadd";
            });
            $("[name='modify']").click(function () {
                //根据组件的父子关系定位到id属性的值
                var oid=$(this).parent().parent().children().first().text();
                window.location.href="http://localhost:8081/fenyeOrder/showupdate?oid="+oid;
            });
            var id=0;
            $("#orders tr").click(function () {
                if($("#orders tr").hasClass("selected"))
                    $("#orders tr").removeClass("selected");
                else $(this).addClass("selected");
                id=$(this).children().first().text();
            });

            $("#update").click(function(){
                if(id!==0)
                    window.location.href="http://localhost:8081/fenyeOrder/showupdate?oid="+id;
                else alert("您未选中一行");
            });
            $("#delete").click(function () {
                if (id !== 0)//id=0说明未选中
                    $.ajax({
                        dataType: "text",
                        type: "POST", //提交方式
                        url: "http://localhost:8081/fenyeOrder/delete?oid="+id,
                        data: {
                            "type": "delete",
                            "id": id
                        },//数据，这里使用的是Json格式进行传输
                        success: function (result) {//返回数据根据结果进行相应的处理
                            var id = result;
                            $(".selected").hide();
                        },
                        error: function () {
                            alert("请求出错");
                        }
                    });
                else alert("您未选中一行");
            });
        })
    </script>
    <style type="text/css">
        #orders .selected{
            background-color: #2aabd2;
        }
    </style>
</head>
<body>
<div style="width:700px;margin:20px auto">
    <table class="table table-striped table-bordered table-hover" id="orders">
        <tr><th>oid</th><th>cid</th><th>联系方式</th><th>购买车型</th><th>相关员工编号</th>
            <th>付款方式</th><th>operator</th></tr>
        <tr th:each="order:${pageBean.getPageData()}">
            <td th:text="${order.getOid()}">oid</td>
            <td th:text="${order.getClient().getCid()}">cid</td>
            <td th:text="${order.getTel()}">联系方式</td>
            <td th:text="${order.getVehicle().getModel()}">购买车型</td>
            <td th:text="${order.getEmp().getEid()}">相关员工编号</td>
            <td th:text="${order.getPay_type()}">付款方式</td>
            <td>
                <button type="button" value="修改" class="btn btn-primary"  th:name="modify">修改</button>
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <button type="button" value="添加" id="add" class="btn btn-primary">添加</button>
                <button type="button" value="修改" id="update" class="btn btn-primary">修改</button>
                <button type="button" value="删除" id="delete" class="btn btn-primary">删除</button>
            </td>
        </tr>
    </table>
    <div class="message">共<i class="blue" th:text="${pageBean.totalPages}"></i>页，
    当前显示第&nbsp;<i class="blue" th:text="${pageBean.pageNo}">&nbsp;</i>页</div>
     <ul class="pagination">
         <li class="paginItem"><a th:href="@{'/fenyeOrder/showlist?pageNo='+1}">
        首页</a></li>
         <li class="paginItem" th:if="${pageBean.hasPreviousPage}">
            <a th:href="@{'/fenyeOrder/showlist?pageNo='+${(pageBean.pageNo)-1}}">
                上一页<span class="pagenxt"></span></a></li>
         <li class="paginItem" th:if="${pageBean.hasNextPage}">
            <a th:href="@{'/fenyeOrder/showlist?pageNo='+${pageBean.pageNo+1}}">
                下一页<span class="pagenxt"></span></a></li>
         <li class="paginItem">
        <a th:href="@{'/fenyeOrder/showlist?pageNo='+${pageBean.totalPages}}">尾页</a></li>
     </ul>
</div>
</body>
</html>