<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>员工</title>
    <script src="../jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div style="width:700px;margin:20px auto">
<table class="table table-striped table-bordered">
    <tr><th>Id</th><th>姓名</th><th>年龄</th><th>性别</th><th>工资</th><th>出生日期</th></tr>
    <tr th:each="emp:${emplist}">
        <!--　至于<td></td>里面的原有的值只是为了给前端开发时做展示用的.这样的话很好的做到了前后端分离。-->
        <td th:text="${emp.eid}">id</td>
        <td th:text="${emp.name}">name</td>
        <td th:text="${emp.age}">age</td>
        <td th:text="${emp.sex}">sex</td>
        <td th:text="${emp.salary}">salary</td>
        <td th:text="${#dates.format(emp.birthday,'yyyy-MM-dd')}">birthday</td>

    </tr>
</table>
</div>
</body>
</html>