<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>show_client</title>
    <script src="../jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#add").click(function () {
                 window.location.href="http://localhost:8081/client/showadd";
            });
            $(".modify").click(function () {
                var cid=$(this).parent().parent().children().first().text();
                window.location.href="http://localhost:8081/client/showupdate?cid="+cid;
            });
            var id=0;
           $("#clients tr").click(function () {
               if($("#clients tr").hasClass("selected"))
                   $("#clients tr").removeClass("selected");
               else $(this).addClass("selected");
               id=$(this).children().first().text();
           });

            $("#update").click(function(){
              if(id!==0)
                  window.location.href="http://localhost:8081/client/showupdate?cid="+id;
              else alert("您未选中一行");
            });
            $("#delete").click(function () {
                if (id !== 0)//id=0说明未选中
                    $.ajax({
                        dataType: "text",
                        type: "POST", //提交方式
                        url: "http://localhost:8081/client/delete?cid="+id,
                        data: {
                            "type": "delete",
                            "id": id
                        },//数据，这里使用的是Json格式进行传输
                        success: function (result) {//返回数据根据结果进行相应的处理
                            var id = result;
                            $(".selected").hide();
                        },
                        error: function () {
                            alert("请求出错");
                        }
                    });
                else alert("您未选中一行");
            });
        })
    </script>
    <style type="text/css" rel="stylesheet">
        #clients .selected{
           background-color: #337ab7;
        }
    </style>
</head>
<body>
<div style="width:700px;margin:20px auto" >
    <table class="table table-striped table-bordered table-hover" id="clients">
        <tr><th>cid</th><th>姓名</th><th>联系方式</th><th>理想车型</th><th>相关员工编号</th>
            <th>预算</th><th>备注</th><th>操作</th></tr>
        <tr th:each="client:${clientlist}" th:value="${client.getCid()}">
            <td th:text="${client.getCid()}"></td>
            <td th:text="${client.getName()}"></td>
            <td th:text="${client.getTel()}"></td>
            <td th:text="${client.getVehicle().getModel()}"></td>
            <td th:text="${client.getEmp().getEid()}"></td>
            <td th:text="${client.getBudget()}"></td>
            <td th:text="${client.getComments()}"></td>
            <td>
                <button type="button" value="修改" class="btn btn-primary" th:classappend="modify"
                data-th-cid="${client.getCid()}">修改</button>
            </td>
        </tr>
    </table>
    <button type="button" value="添加" id="add" class="btn btn-primary">添加</button>
    <button type="button" value="修改" id="update" class="btn btn-primary">修改</button>
    <button type="button" value="删除" id="delete" class="btn btn-primary">删除</button>
</div>
</body>
</html>