<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>车型</title>
    <script src="../jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div style="width:700px;margin:20px auto">
    <table class="table table-striped table-bordered">
        <tr><th>车型</th><th>价格</th><th>颜色</th></tr>
        <tr th:each="vehicle:${vehiclelist}">
            <!--　至于<td></td>里面的原有的值只是为了给前端开发时做展示用的.这样的话很好的做到了前后端分离。-->
            <td th:text="${vehicle.getModel()}">Model</td>
            <td th:text="${vehicle.getPrice()}">price</td>
            <td th:text="${vehicle.getColor().getColorname()}">color</td>

        </tr>
    </table>
</div>
</body>
</html>