<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- namespace的该属性值通常设置为包名+映射文件名 -->
<mapper namespace="com.qst.crm.Dao.OrderDao">
    <select id="search" resultMap="searchMap">
        SELECT o.* FROM crm.`order` o join `client` c join vehicle v join employee e
on o.c_id=c.cid and o.buy_model=v.model and o.e_id=e.eid order by oid;
    </select>
    <resultMap id="searchMap" type="Order">
        <id property="oid" column="oid"/>
        <result property="tel" column="tel"/>
        <result property="pay_type" column="pay_type"/>
        <association property="client" javaType="Client">
            <id property="cid" column="c_id"/>
        </association>
        <association property="vehicle" javaType="Vehicle">
            <id property="model" column="buy_model"/>
        </association>
        <association property="emp" javaType="Employee">
            <id property="eid" column="e_id"/>
        </association>
    </resultMap>
    <!--当删除client时，要设置order中的c_id为空-->
    <update id="update_setC_id_null">
        update `order` set c_id=null where c_id=#{cid}
    </update>

    <insert id="addOrder" parameterType="Order">
        INSERT INTO `crm`.`order`
        (`c_id`,`tel`,`buy_model`,`pay_type`,`e_id`)
        VALUES(#{client.cid},#{tel},#{vehicle.model},#{pay_type},#{emp.eid});
    </insert>

    <select id="searchById" resultMap="searchByIdMap">
        SELECT o.* FROM crm.`order` o join `client` c join vehicle v join employee e
on o.c_id=c.cid and o.buy_model=v.model and o.e_id=e.eid and oid=#{oid};
    </select>
    <resultMap id="searchByIdMap" type="Order">
        <id property="oid" column="oid"/>
        <result property="tel" column="tel"/>
        <result property="pay_type" column="pay_type"/>
        <association property="client" javaType="Client">
            <id property="cid" column="c_id"/>
        </association>
        <association property="vehicle" javaType="Vehicle">
            <id property="model" column="buy_model"/>
        </association>
        <association property="emp" javaType="Employee">
            <id property="eid" column="e_id"/>
        </association>
    </resultMap>

    <update id="updateById" parameterType="Order">
        UPDATE `crm`.`order`
        SET `c_id`=#{client.cid},`tel`=#{tel},`buy_model`=#{vehicle.model},`pay_type`=#{pay_type},
        `e_id`=#{emp.eid} WHERE `oid`=#{oid};
    </update>
    <delete id="deleteById">
        delete from `order` where oid=#{oid}
    </delete>

    <select id="getcount" resultType="Integer">
        select count(*) from `crm`.`order`;
    </select>

    <select id="getPageList" resultMap="getPageListMap">
         SELECT o.* FROM crm.`order` o join `client` c join vehicle v join employee e
on o.c_id=c.cid and o.buy_model=v.model and o.e_id=e.eid order by oid limit #{pageNo},#{pageSize};
   </select>
    <resultMap id="getPageListMap" type="Order">
        <id property="oid" column="oid"/>
        <result property="tel" column="tel"/>
        <result property="pay_type" column="pay_type"/>
        <association property="client" javaType="Client">
            <id property="cid" column="c_id"/>
        </association>
        <association property="vehicle" javaType="Vehicle">
            <id property="model" column="buy_model"/>
        </association>
        <association property="emp" javaType="Employee">
            <id property="eid" column="e_id"/>
        </association>
    </resultMap>
</mapper>