<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- namespace的该属性值通常设置为包名+映射文件名 -->
<mapper namespace="com.qst.crm.Dao.RecordDao">
    <select id="search" resultMap="searchMap">
        select * from record r join `client` c join employee e join state s join vehicle v on
r.c_id=c.cid and r.e_id=e.eid and r.state_id=s.sid and r.want_v=v.model order by rid;
    </select>
    <resultMap id="searchMap" type="Record">
        <id property="rid" column="rid"/>
        <result property="time" column="time"/>
        <result property="visit_type" column="visit_type"/>
        <association property="client" javaType="Client">
            <id property="cid" column="c_id"/>
        </association>
        <association property="emp" javaType="Employee">
            <id property="eid" column="e_id"/>
        </association>
        <association property="state" javaType="State">
            <id property="sid" column="state_id"/>
        </association>
        <association property="vehicle" javaType="Vehicle">
            <id property="model" column="want_v"/>
        </association>
    </resultMap>
    <!--当删除client时，要设置order中的c_id为空-->
    <update id="update_setC_id_null">
        update `record` set c_id=null where c_id=#{cid}
    </update>
    <!--添加-->
    <insert id="add" parameterType="Record">
        INSERT INTO `crm`.`record`
        (`c_id`,`e_id`,`time`,`visit_type`,`state_id`,`want_v`)
         VALUES (#{client.cid},#{emp.eid},#{time},#{visit_type},#{state.sid},#{vehicle.model});
    </insert>
    <!--根据ID查询-->
    <select id="searchById" resultMap="searchByIdMap">
        select * from record r join `client` c join employee e join state s join vehicle v on
r.c_id=c.cid and r.e_id=e.eid and r.state_id=s.sid and r.want_v=v.model and rid=#{rid};
    </select>
    <resultMap id="searchByIdMap" type="Record">
        <id property="rid" column="rid"/>
        <result property="time" column="time"/>
        <result property="visit_type" column="visit_type"/>
        <association property="client" javaType="Client">
            <id property="cid" column="c_id"/>
        </association>
        <association property="emp" javaType="Employee">
            <id property="eid" column="e_id"/>
        </association>
        <association property="state" javaType="State">
            <id property="sid" column="state_id"/>
        </association>
        <association property="vehicle" javaType="Vehicle">
            <id property="model" column="want_v"/>
        </association>
    </resultMap>
    <update id="updateById" parameterType="Record">
        UPDATE `crm`.`record`
        SET `c_id` = #{client.cid},`e_id` = #{emp.eid} ,`time` = #{time} ,`visit_type` = #{visit_type},
        `state_id` = #{state.sid},`want_v` = #{vehicle.model}
        WHERE `rid` = #{rid};
    </update>
    <!--删除-->
    <delete id="delete">
        delete from `record` where rid=#{rid};
    </delete>
</mapper>